<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Donut Map", root_path, id: "logo" %>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->

		  <nav>
			<%= form_tag locations_path, :method => 'get', :class => "form-search", :id => "form-search" do %>
				<div class="input-append">
					<%= text_field_tag :search, params[:search], :autocomplete => :off, :class => "input-large search-query", :id => "appendedInputButton", placeholder: "Find by name, city, or address..." %>
					<%= submit_tag "Go!", :name => nil, :class => "btn" %>
				</div>
			<% end %>

<script>
			
//$('#appendedInputButton').typeahead({
//	items: 8, 
//	source: donuts2
//});
			
$(document).ready(function () {
$(function () {
	$('#appendedInputButton').autocomplete({
		minLength: 0,
		source: donuts3,
		focus: function(event, ui) {
			$('#appendedInputButton').val(ui.item.value);
			return false;
		},
		select: function(event, ui) {
			$('#appendedInputButton').val(ui.item.value);
			$('#form-search').submit();
			return false;
		}
	})
	.data("ui-autocomplete")._renderItem = function(ul, item) {
		return $("<li>")
		.append("<a>" + item.label + "</a>")
		.appendTo(ul);
	};
});
});
			
</script>
			
			
	        <ul class="nav pull-right">
			  <li><%= link_to 'See All', locations_path %></li>
	          <li><%= link_to "About", about_path %></li>
	        </ul>
	    </nav>
      </div>
 
    </div>
  </div>
</div>